# Problem Set 2

### Question 1 : 
Consider the following python module:

In [9]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

print(b())
print(b())
print(b())
print(a)

None
None
None
6

### <u>Answer 1</u>:  
Understanding of function b().  
  
The 'a' passed to the function c() is the global variable 'a' and its value is assigned back to 'a' which is a local variable. 
With each call of function b() the value of global variable is incremented by 2. 
  
And finally when the value of a is printed. Compiler prints the value 6.

### Question 2 : 
Use try and except to handle errors in our program.

In [1]:
def fileLength(name):
    try:
        file = open(name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File {} not found.".format(name))

fileLength('FileLength.txt')
fileLength('abc.txt') # file 'abc.txt' does not exist. So error is thrown.

123
File abc.txt not found.

### Question 3:  
Understanding of Extending classes, and constructor and method overloading.

In [19]:
class Marsupial:
    'The parent class named Marsupial'
    
    def __init__(self):
        self.pouchList = []
        # Write your methods here.
        
    def put_in_pouch(self, val):
        self.pouchList.append(val)
    
    def pouch_contents(self):
        return self.pouchList


class Kangaroo(Marsupial):
    'The sub class named Kangaroo'
    
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
    

k = Kangaroo()
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

### Question 4:  
Understanding of Recursion

In [14]:
def collatz(x):
    print("{:.0f}".format(x))
    if(x==1):
        return
    if(x%2==0):
        collatz(x/2)
    else:
        collatz((3*x)+1)
        

collatz(10)

10
5
16
8
4
2
1

### Question 5:  
Recursion and Binary Conversion

In [17]:
def binary(n):
    
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)
    

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

0
1
11
1011010

### Question 6:  
HTML Parser Knowledge

In [33]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indent = 0
        self.isHead = False
    
    def handle_starttag(self, tag, attrs):
        if tag == 'head':
            self.isHead = True
        if tag.startswith('h'):
            print(' ' * self.indent, end='')
            self.indent += 1
    
    def handle_endtag(self, tag):
        if tag == 'head':
            self.isHead = False
        if tag.startswith('h'):
            self.indent -= 1
    
    def handle_data(self, data):
        if self.isHead == False:
            print(data)

infile = open('w3c.html')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)

W3C Mission


Principles

### Question 7:
Recursive function

In [86]:
# No Answer as of now for answer 7

def webdir(url, depth, indent):
    print("Inside the method webdir")
    
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

Inside the method webdir

### Questoin 8:  
Write SQL queries on the below database table that return:  
a) All the temperature data.  
b) All the cities, but without repetition.  
c) All the records for India.  
d) All the Fall records.  
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.  
f) The city and country for which the average Fall temperature is above 20  
degrees, in increasing temperature order.  
g) The total annual rainfall for Cairo.  
h) The total rainfall for each season.

In [67]:
import sqlite3

# create a connection to the database. This will create a 'sample.db' file in the running directory.
conn = sqlite3.connect('first.db')
cur = conn.cursor()

# Create the Table World
cur.execute("CREATE TABLE if not exists Info (city text, country text, season int, Temperate float, Rainfall float)")

# Insert Data into the Table World from the file SQL.txt. Hardcode this data.
cur.execute("INSERT INTO Info VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Info VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Info VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Info VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Info VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Info VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Info VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Info VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Info VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Info VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Info VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Info VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# Answer A
cur.execute("SELECT Temperate from Info")
print("************ PRINTING A ************")
for record in cur:
    print(record)

# Answer B
cur.execute("Select DISTINCT city from Info")
print("")
print("************ PRINTING B ************")
for record in cur:
    print(record)    
    

# Answer C
cur.execute("Select * from Info WHERE country= 'India'")
print("")
print("************ PRINTING C ************")
for record in cur:
    print(record)    

# Answer D
cur.execute("Select * from Info WHERE season= 'Fall'")
print("")
print("************ PRINTING D ************")
for record in cur:
    print(record)  

# Answer E
cur.execute("Select city, country, season from Info WHERE Rainfall>= 200.0 and Rainfall <=400.0")
print("")
print("************ PRINTING E ************")
for record in cur:
    print(record)  
    
# Answer F
cur.execute("Select city, country from Info WHERE season= 'Fall' and temperate >= 20.0 order by temperate ASC")
print("")
print("************ PRINTING F ************")
for record in cur:
    print(record)  
    
    
# Answer G
cur.execute("Select SUM(rainfall) from Info WHERE city= 'Cairo'")
print("")
print("************ PRINTING G ************")
for record in cur:
    print(record)  
    
    
# Answer H
cur.execute("Select season, SUM(rainfall) from Info group by(season)")
print("")
print("************ PRINTING H ************")
for record in cur:
    print(record)  
    
# Always close the Instances to avoid leaks.
cur.close()
conn.close()

************ PRINTING A ************
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

************ PRINTING B ************
('Mumbai',)
('London',)
('Cairo',)

************ PRINTING C ************
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

************ PRINTING D ************
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

************ PRINTING E ************
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

************ PRINTING F ************
('Cairo', 'Egypt')
('Mumbai', 'India')

************ PRINTING G ************
(27.6,)

************ PRINTING H ************
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

### Question 9:  
List Comprehension

In [79]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

print("******** A ********")
A = [word.upper() for word in words]
print(A)
print("")

print("******** B ********")
B =[word.lower() for word in words]
print(B)
print("")

print("******** C ********")
C = [len(word) for word in words]
print(C)
print("")

print("******** D ********")
D = [[word.upper(), word.lower(), len(word)] for word in words]
print(D)
print("")

print("******** E ********")
E = [word for word in words if len(word) >= 4]
print(E)

******** A ********
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

******** B ********
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

******** C ********
[3, 5, 5, 3, 5, 4, 3, 4, 3]

******** D ********
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

******** E ********
['quick', 'brown', 'jumps', 'over', 'lazy']